<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 style="text-align: center; color: #FF5A60">Gizlilik Politikası</h3>
            <br>
            <br>
            <!-- Paragraph -->
            <p>
                 Elron Yazılım, kurumsal şirket anlayışı, müşteri memnuniyeti ve müşteri bilgilerinin güvenliği odaklı hizmet felsefesi ile çalışmaktadır. Bu doğrultuda web sitesimiz www.elronyazilim.com.tr (bundan sonra "Web Sitesi" olarak ifade edilecektir.) vermiş olduğunuz bilgilerin gizliliğini korumak amacıyla aşağıda belirtilen temel kuralları benimsemektedir.
                Web Sitemizden yalnızca ürün/hizmet başvurusu ve bilgi güncelleme amaçlı bilgi girişi yapılmaktadır.
            </p>
            <p>
                Web Sitemize girilen bilgilerin güvenliği açısından şirketimiz sistem ve internet altyapısı en güvenilir seviyede tutularak gerekli önlemler alınmıştır. Müşterilerimizin Web Sitemiz'e ürün/hizmet başvurusu ve bilgi güncelleme amaçlı girmiş oldukları bilgiler diğer internet kullanıcıları tarafından görüntülenemez. Müşterilerimizin bizimle paylaştığı bilgilere izinsiz ulaşım engellenmiştir.
                 Elron Yazılım söz konusu bilgileri müşterilerin onayı dışında ya da yasal bir yükümlülük altında bulunmadığı sürece herhangi bir üçüncü şahıs, kurum ve kuruluş ile paylaşmayacaktır.
            </p>
            <p>
                 Elron Yazılım bu bilgileri sadece gerekli yetkiler ve yasal düzenlemeler çerçevesinde açıklayabilecektir.  Elron Yazılım'ın tabi olduğu düzenleyici kurumlar ve/veya yasama, yürütme organ ve mercileri müşteri bilgilerinin açıklanmasını istediğinde,  Elron Yazılım bu bilgileri yalnızca gerekli yetkiler çerçevesinde açıklayacaktır.
            </p>
            <p>
                Web Sitemiz diğer web sitelerine link vermektedir. Gizlilik Politikamız'da yer alan taahhütlerimiz sadece web sitemiz içerisinde geçerlidir ve diğer web sitelerini kapsamamaktadır. Web Sitemiz'den link ile gidilecek diğer web sitelerindeki kullanım ile ilgili o sitelere ait gizlilik güvencesi ve kullanım şartları geçerlidir. Web sitemizden reklam, banner, içerik maksatlı veya başka bir maksat ile geçilen diğer web sitelerinin bilgi kullanımı, etik ilkeleri, gizlilik prensipleri, nitelik ve servis kalitesi ile bu sitelerde oluşabilecek herhangi bir maddi / manevi zarar ve kayıplardan  Elron Yazılım sorumlu değildir.
            </p>
            <p>
                 Elron Yazılım, destek hizmetler almak amacıyla farklı kuruluşlarla çalışılması durumunda, bu firmaların şirketimizin gizlilik standartlarına ve şartlarına uymalarını sağlayacaktır.
            </p>
            <p>Web Sitemizde yer alan bilgi, materyal ve bunların düzenlenmesi konusundaki telif hakları,  Elron Yazılım'a aittir. Web Sitemiz'in içerdiği üçüncü sahıslara ait materyaller dışında kalan bilgi ve materyallere dair tüm telif hakları, tescilli marka, patent, entelektüel ve diğer mülkiyet hakları şirketimizde saklıdır.</p>
            <p>
                Müşterilerimizin kişisel bilgilerinin gizliliğini korumak amacıyla şirketimiz sistem ve internet altyapısı en güvenilir seviyede tutularak gerekli önlemler alınmıştır. Ek olarak bilgi alınmak istenen konularda şirketimize danışmakta tereddüt etmeyiniz.
            </p>
        </div>
    </div>
</div>