<?xml version="1.0" encoding="utf-8"?>
<log4net debug="true">
	<appender name="App_JsonFileLogger" type="log4net.Appender.FileAppender,log4net">
		<file value="C://Log//log.json" />
		<layout type="Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout, Core" ></layout>
	</appender>
	<appender name="App_DatabaseLogger" type="MicroKnights.Logging.AdoNetAppender, MicroKnights.Log4NetAdoNetAppender">
		<bufferSize value="1" />
		<connectionType value="Microsoft.Data.SqlClient.SqlConnection,Microsoft.Data.SqlClient,Version=1.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a" />
		<connectionString value="data source=.;initial catalog=Northwind;integrated security=false;persist security info=True;User ID=sa;Password=1234" />
		<commandText value="INSERT INTO Logs ([Detail],[Date],[Audit],[ExceptionInfo]) VALUES (@logDetail,@log_date,@audit,@exceptionInfo)" />
		<parameter>
			<parameterName value="@logDetail" />
			<dbType value="String" />
			<size value="4000" />
			<layout type="Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout, Core" />
		</parameter>
		<parameter>
			<parameterName value="@log_date" />
			<dbType value="DateTime" />
			<layout type="log4net.Layout.PatternLayout" value="%date{dd'-'MM'-'yyyy HH':'mm':'ss'.'fff}" />
		</parameter>
		<parameter>
			<parameterName value="@audit" />
			<dbType value="String" />
			<size value="50" />
			<layout type="log4net.Layout.PatternLayout" value="%level" />
		</parameter>
		<parameter>
			<parameterName value="@exceptionInfo" />
			<dbType value="String" />
			<size value="8000" />
			<layout type="log4net.Layout.ExceptionLayout" />
		</parameter>
	</appender>
	<appender name="App_SmtpAppender" type="log4net.Appender.SmtpAppender">
		<to value="oavtat@gmail.com" />
		<from value="efatura@noyaxonline.com" />
		<subject value="Log Mail" />
		<smtpHost value="smtp.gmail.com" />
		<authentication value="Basic" />
		<port value="587" />
		<username value="efatura@noyaxonline.com" />
		<password value="******" />
		<bufferSize value="1" />
		<EnableSsl value="true"/>
		<lossy value="true" />
		<evaluator type="log4net.Core.LevelEvaluator">
			<threshold value="ERROR"/>
		</evaluator>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
		</layout>
	</appender>
	<!--LEVEL => FATAL, ERROR, WARN, INFO, DEBUG, ALL ve OFF-->
	<logger name="JsonFileLogger">
		<level value="ERROR"/>
		<appender-ref ref="App_JsonFileLogger" />
	</logger>
	<logger name="DatabaseLogger">
		<level value="ERROR"/>
		<appender-ref ref="App_DatabaseLogger" />
	</logger>
	<logger name="SmtpLogger">
		<level value="ERROR"/>
		<appender-ref ref="App_SmtpAppender" />
	</logger>
</log4net>
